<header>
    <img 
        src="assets/img/denisio.png" 
        alt="Denisio - Foto de perfil"
        width="130px"
        height="130px"
        loading="eager"
    >
    <h1>Denisio Emanuel</h1>
</header>

<aside>
    <div class="container">
        <p>C# | .NET | Angular | Razor Pages | ReactJS</p>
        <p>Fortaleza, Ceará, Brasil</p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis veniam reiciendis repellendus inventore maxime mollitia perspiciatis illum, dolore dolorem veritatis a molestias quo itaque nesciunt officiis, officia velit natus eveniet.
        </p>
        <nav>
            <ul>
                <li>
                    <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
                        Download CV
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/denisio-emanuel" target="_blank" class="btn btn-secondary">
                        LinkedIn
                    </a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg" 
                    alt="Icone para contato whatsapp"
                    width="22px"
                    height="24px"
                >
                <figcaption>
                    <a href="https://wa.me/+55859888888888?text=I'm%20interested%20in%20your%20car%20for%20sale">
                        <strong>Envie uma mensagem para: (85) 9 8888-8888</strong>
                    </a>
                </figcaption>
            </figure>
            <figure>
                <img 
                    src="assets/icons/whatsapp.svg" 
                    alt="Icone para contato whatsapp"
                    width="22px"
                    height="24px"
                >
                <figcaption>
                    <a href="mailto:denisio@ymail.com">
                        <strong>Envie um e-amil para:</strong>
                        <p>denisio&#64;ymail.com</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </div>
</aside>